@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

// vars
@import 'variables';

// components
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  @apply border-l-[1px] border-solid border-gray-200 bg-gray-100;
}
::-webkit-scrollbar-thumb {
  @apply border-[4px] border-solid border-gray-100 bg-slate-300;
  background-clip: padding-box;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}
html.dark {
  ::-webkit-scrollbar-track {
    @apply border-l-[1px] border-solid border-slate-700 bg-slate-800;
  }
  ::-webkit-scrollbar-thumb {
    @apply border-[4px] border-solid border-gray-800 bg-slate-500;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
  }
}

// animations
@import 'animations/transitions';
